@import 'variables';

header {
  .other-navbar {
    display: flex;
    background-color: $base-color;
    padding: 0 50px;

    img {
      margin: 10px 0;
      width: 45px;
    }

    &__link {
      margin-left: auto;
      position: relative;
      display: flex;
      align-items: center;

      a {
        color: white;
        text-decoration: none;
        font-weight: 700;
        margin-left: 25px;
        transition: .3s ease;

        &:hover {
          color: brown;
        }
      }

      @media only screen and (max-width: 800px) {
        display: none;
      }
    }

    &__btn {
      display: flex;
      height: 30px;
      width: 30px;
      margin: auto 0;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-left: auto;
      overflow: hidden;
      z-index: 999;

      @media only screen and (min-width: 800px) {
        display: none;
      }

      .menu-btn {
        margin: auto 0;
        
        &__burger {
          width: 20px;
          height: 3px;
          background-color: white;

          &::before,
          &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 3px;
            background-color: white;
            border-radius: 5px;
            transition: all .3s ease-in-out;
          }

          &::before {
            transform: translateY(-7px);
          }

          &::after {
            transform: translateY(7px);
            
          }
        }
      }
    }
  }
}


.menu-responsive {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  right: -150px;
  top: -150px;
  position: absolute;
  background-color: $base-color;
  transition: all .3s ease-in-out;

  @media only screen and (min-width: 800px) {
    display: none;
  }

  &__link {
    display: flex;
    justify-items: center;
    flex-direction: column;
    text-align: center;
    padding: 100px 0;
    margin: 0 auto;
    width: 128px;

    a {
      color: white;
      text-decoration: none;
      font-weight: 700;
      transition: .3s ease;
      margin-top: 20px;

      &:hover {
        color: brown;
      }
    }
  }
}

main {
  position: relative;
  overflow: hidden;
}

.underline {
  border-bottom: 1px solid white;
}

.menu-btn.open{
  .menu-btn__burger {
    transform: translateX(-50px);
    background-color: transparent;

    &::before {
      transform: rotate(-45deg) translate(35px, 35px);
    }

    &::after {
      transform: rotate(45deg) translate(35px, -35px);
    }
  }
}

.menu-responsive.open {
  display: block;
  border-radius: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 10000px;
}
